
.logo {
  font-family: "PT Serif";
  font-style: Bold
}


.menu {
  font-family: "Roboto";
  font-style: Medium
}




.title{
  font-family: "PT Serif";
  font-style: Bold
}



.discription{
  font-family: "Roboto";
  font-style: Regular;
 }




.button{
  font-family: "Roboto";
  font-style: Medium;
  }
